Package: com.gamzakovdev.SberbankBypass12Preferences
Name: SberbankBypass12Preferences
Version: 0.1-1
Description: 
Section: PreferenceBundles
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Алексей Осипов
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

